@charset "UTF-8";
/* CSS Document */

/* Styles for browser window is widder than 800px */
* {
  box-sizing: border-box;
}


/* Start: tell browser to do the followings when browser window is 800px or smaller */
  @media only screen and (max-width: 800px) {




} /* don't forget to close the styles for 800px and smaller */
flex-container{
  display: flex;
  flex-direction: row;
}
footer{
  font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;
background-color: ; #DEDEDB;
}
h1{
  font-size: 20px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 16px;
}
p{
  font-size: 16px;
}
